/* -- Base Styles  ---------- */
html {
  box-sizing: border-box;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

h1,
h2,
p,
a {
  text-transform: uppercase;
}

a {
  text-decoration: none;
  color: inherit;
}
